In [1]:
def square(x):
    return x ** 2
print(square(10))

100

In [2]:
sq_func = lambda x: x ** 2
print(sq_func(10))

100

In [3]:
i_num_list = range(1,11)
s_sum_list = list(map(lambda i: "No." +str(i),i_num_list))
print("文字列リスト:",s_sum_list)

文字列リスト: ['No.1', 'No.2', 'No.3', 'No.4', 'No.5', 'No.6', 'No.7', 'No.8', 'No.9', 'No.10']

In [4]:
sq_func = lambda x: x ** 2
print(sq_func(10))

100

In [5]:
i_num_list = range(1,11)
s_num_list = list(map(lambda i: "No." + str(i),i_num_list))
print("文字列リスト", s_num_list)

文字列リスト ['No.1', 'No.2', 'No.3', 'No.4', 'No.5', 'No.6', 'No.7', 'No.8', 'No.9', 'No.10']

In [6]:
for s in map(lambda i:"No." + str(i),range(1,11)):
    print(s, end=" ")

No.1 No.2 No.3 No.4 No.5 No.6 No.7 No.8 No.9 No.10

In [8]:
for e in filter(lambda i: i%2==0, range(1,11)):
    print(e,end=" ")

2 4 6 8 10

In [9]:
def is_even(x):
    return x % 2 == 0
for e in filter(is_even, range(1,11)):
    print(e,end=" ")

2 4 6 8 10

In [10]:
paris = [(2,'down'),(1,'up'),(4,'charm'),(3,'strange'),(6,'top'),(5,'bottom')]
print(paris)

[(2, 'down'), (1, 'up'), (4, 'charm'), (3, 'strange'), (6, 'top'), (5, 'bottom')]

In [11]:
paris.sort()
print(paris)

[(1, 'up'), (2, 'down'), (3, 'strange'), (4, 'charm'), (5, 'bottom'), (6, 'top')]

In [12]:
paris.sort(key=lambda x: x[1])
print(paris)

[(5, 'bottom'), (4, 'charm'), (2, 'down'), (3, 'strange'), (6, 'top'), (1, 'up')]

In [13]:
paris.sort(key=lambda x: x[1], reverse=True)
print(paris)

[(1, 'up'), (6, 'top'), (3, 'strange'), (2, 'down'), (4, 'charm'), (5, 'bottom')]

In [14]:
n = 3
func = lambda n: "even" if (n % 2 == 0) else "odd"
func(n)

'odd'

In [15]:
n = 3
x = "even" if (n % 2 == 0) else "odd"
print(x)

odd

In [16]:
n = 3
if (n % 2 == 0):
    x = 'even'
else:
    x = 'odd'
print(x)

odd

In [17]:
str_num_list = map(lambda x: '{:04}'.format(x),range(1,8))
str_num_list

In [18]:
students_by_height = sorted(students_data,key=lambda s: s[1])
students_by_height = sorted(students_data,key=lambda s: s[2])

NameError: name 'students_data' is not defined