In [1]:
import sqlite3
db = 'sample.db'
con = sqlite3.connect(db)
csr = con.cursor()
sql = 'create table Employee(name,email,department,position);'
csr.execute(sql)
con.commit()
con.close()

In [2]:
import sqlite3
db = 'sample.db'
con = sqlite3.connect(db)
csr = con.cursor()
sql = "insert into Employee(name,mail,department,position') \ values('yamada','yamada@abcxyz.co.jp','sales','staff');"
csr.execute(sql)
sql = "insert into Employee(name,mail,department,position') \ values('suzuki','suzuki@abcxyz.co.jp','sales','staff');"
csr.execute(sql)
sql = 'select * from Employee;'
csr.execute(sql)
print(csr.fetchall())
sql = 'delete from Employee where name = "yamad";'
csr.execute(sql)
sql = 'select * from Employee;'
csr.execute(sql)
print(csr.fetchall())
sql = 'update Employee setposition = "Manager" where name = "suzuki";'
csr.execute(sql)
con.commit()
sql = 'select * from Employee;'
csr.execute(sql)
print(csr.fetchall())
con.close()

OperationalError: near "') \ values('": syntax error

In [3]:
csr.execute('drop table data_set')
con.commit()

OperationalError: no such table: data_set

In [4]:
import sqlite3
db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()
csr.execute('create table human(name,nickname);')
csr.execute("insert into human(name) values('ichiro');")
csr.execute("insert into human(name) values('jiro');")
csr.execute("insert into human(name) values('saburo');")
csr.execute('update human set nickname = "Lazer" where name = "ichiro";')
csr.execute('select * from human;')
print(csr.fetchall())
con.commit()
con.close()

[('ichiro', 'Lazer'), ('jiro', None), ('saburo', None)]

In [5]:
import sqlite3
db = 'test.db'
con = sqlite3.connect(db)
csr = con.cursor()
csr.execute('update human set nickname = "Lazer" where name = "jiro";')
csr.execute('delete from human where nickname = "Lazer";')
csr.execute('select * from human;')
print(csr.fetchall())
con.commit()
con.close()

[('saburo', None)]